<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Message Wall</title>
  </head>
  <body>
    <div id="container">
      <div class="message">
        <h1 class="title">LIVING OFF THE WALL</h1>
        <h1 class="title-2">Hello {{ user.first_name }}</h1>

        <h2 class="title-3">
          <a href="{% url 'user_profile' user.id %}"
            >Read All Post By {{user.first_name}}</a
          >
          -
          <a href="/logout">(Logout {{ user.first_name }})</a>
        </h2>
        <br />
        <hr class="jagged-hr" />

        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="post">
          <h3>Create a Post Message</h3>
          <form action="/create_message" method="POST">
            {% csrf_token %}
            <textarea name="content" cols="157" rows="4"></textarea>
            <br />
            <button class="button-msg">Post a message</button>
          </form>
        </div>
      </div>

      {% for message in all_messages %}
      <div class="message container post2">
        <hr class="jagged-hr" />

        <!-- <p
          style="
            text-align: center;
            font-size: 24px;
            color: gray;
            letter-spacing: 5px;
            line-height: 0.2;
          "
        >
          --------------------------------------------------
        </p> -->

        <h3 style="text-decoration: underline">
          Posted By: {{message.poster}} - {{message.created_at|date:"F j, Y"}}
        </h3>

        {% if user in message.user_likes.all %}
        <form action="{% url 'unlike_message' message.id %}" method="POST">
          {% csrf_token %}
          <button class="button-like" type="submit">Unlike</button>
        </form>
        <br />
        {% else %}
        <form action="{% url 'like_message' message.id %}" method="POST">
          {% csrf_token %}
          <button class="button-like" type="submit">Like</button>
        </form>
        <br />
        {% endif %}

        <h3 class="message container indent">{{ message.content }}</h3>
        <h3 class="message container" style="font-style: italic">
          Liked by {{ message.user_likes.count }} users
        </h3>

        {% if message.poster.id == request.session.user_id %}
        <h3 class="message container">
          <a href="/delete/{{message.id}}">Delete your message</a>
        </h3>
        {% endif %}

        <br />
        <h3>Add a Commemt to Post Above</h3>

        <form action="/create_comment" method="POST">
          {% csrf_token %}
          <textarea name="content" cols="145" rows="2"></textarea>
          <input type="hidden" name="message" value="{{ message.id }}" />
          <button class="button-com">Post a comment</button>
        </form>

        {% for comment in message.post_comments.all %}
        <h3>
          Comment: {{comment.poster.first_name}} {{comment.poster.last_name}} -
          {{comment.created_at|date:"F j, Y"}}
        </h3>
        <h3 class="message container indent">{{ comment.content }}</h3>

        {% if comment.poster.id == request.session.user_id %}
        <h3 class="message container indent">
          <a href="/comm_delete/{{ comment.id }}">Delete your comment</a>
        </h3>
        {% endif %}

        <br />
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
