<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Message Wall</title>
  </head>
  <body>
    <div id="container">
      <div class="message">
        <h1 class="title">LIVING OFF THE WALL</h1>

        {% if user.id %}
        <h1 class="title-1">Hello {{ user.first_name }}</h1>
        <h2 class="title-2">
          <a href="{% url 'user_profile' user.id %}"
            >Read All Posts By {{ user.first_name }}</a
          >
          -
          <a href="/logout">(Logout {{ user.first_name }})</a>
        </h2>
        <br />
        {% else %}
        <h2 class="title-2 register">Welcome, Guest</h2>
        <br />
        {% endif %}

        <!-- <br />
        <hr class="jagged-hr" /> -->

        <!-- <p
          class="jagged-hr"
          style="
            text-align: center;
            margin: 50px 0px;
            font-size: 24px;
            color: black;

            letter-spacing: 5px;
            line-height: 2;
          "
        >
          ^^^^^^^^^^^^^^^^^^^^^^
        </p> -->

        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% if user.id %}
        <div class="post">
          <h3>Create a Post Message</h3>
          <form action="/create_message" method="POST">
            {% csrf_token %}
            <textarea name="content" cols="157" rows="4"></textarea>
            <br />
            <button class="button-msg">Post a message</button>
          </form>
        </div>
        {% else %}
        <h3 class="move-left">
          <a href="/login"><strong>Login to post messages.</strong></a>
        </h3>
        {% endif %}
      </div>

      {% for message in all_messages %}
      <div class="message container post2">
        <hr class="jagged-hr" />

        <h3 style="text-decoration: underline">
          Posted By: {{message.poster}} - {{message.created_at|date:"F j, Y"}}
        </h3>

        {% if user.id %}
        <!-- Space -->
        {% if user in message.user_likes.all %}
        <form action="{% url 'unlike_message' message.id %}" method="POST">
          {% csrf_token %}
          <button class="button-like" type="submit">Unlike</button>
        </form>
        <br />
        {% else %}
        <form action="{% url 'like_message' message.id %}" method="POST">
          {% csrf_token %}
          <button class="button-like" type="submit">Like</button>
        </form>
        <br />
        {% endif %}
        <!-- Space -->
        {% endif %}

        <h3 class="message container indent">{{ message.content }}</h3>
        <h3 class="message container" style="font-style: italic">
          Liked by {{ message.user_likes.count }} users
        </h3>

        <!-- To see detail if desired - but really unncessary -->
        <!-- <h3 class="message container indent">
          <a href="{% url 'blog_details' message.id %}"
            >See individual details</a
          >
        </h3> -->

        {% if user.id and message.poster.id == request.session.user_id %}
        <h3 class="message container">
          <a href="{% url 'delete_mess_confirm' message.id %}"
            >Delete Message</a
          >
        </h3>
        {% endif %}

        <br />
        {% if user.id %}
        <h3>Add a Comment to Post Above</h3>
        <form action="/create_comment" method="POST">
          {% csrf_token %}
          <textarea name="content" cols="145" rows="2"></textarea>
          <input type="hidden" name="message" value="{{ message.id }}" />
          <button class="button-com">Post a comment</button>
        </form>
        {% else %}
        <p>
          <a href="/login"><strong>Login to comment.</strong></a>
        </p>
        {% endif %}
        <!-- Space -->
        {% for comment in message.post_comments.all %}
        <h3>
          Comment: {{comment.poster.first_name}} {{comment.poster.last_name}} -
          {{comment.created_at|date:"F j, Y"}}
        </h3>
        <h3 class="message container indent">{{ comment.content }}</h3>

        {% if user.id and comment.poster.id == request.session.user_id %}
        <h3 class="message container indent">
          <a href="{% url 'delete_comm_confirm' comment.id %}"
            >Delete Comment</a
          >
        </h3>
        {% endif %}
        <br />
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
